/* FONTS */
@font-face {
    font-family: 'Identidad Bold';
    src: url('fonts/identidad-extrabold.otf') format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: 'Identidad Regular';
    src: url('fonts/identidad-extralight.ttf') format('truetype');
    font-weight: normal;
}

/* VARIABLES */
:root {
    /* Fonts */
    --font-text-regular: 'Identidad Regular', serif;
    --font-text-bold: 'Identidad Bold', monospace;
    /* Colors */
    --color-light: #F3F2ED;
	--color-dark: #212121;
    --color-light-hover: #EBE8E0;
    --color-dark-hover: #474747;
    /* Text size */
    --h1-size: 5em;
    --h2-size: 3em;
    --h3-size: 2em;
    --h4-size: 1em;
    --h5-size: 0.8em;
    --h6-size: 0.6em;
    /* Sizes */
    --header-height: 100px;
    --border-radius: 20px;
    --input-border-radius: 10px;
    --input-padding: 10px;
	--menu-link-margin: 20px;
    --body-width: 60%;
    --columns-gap: 10px;
    /* --card-gap: 30px; */
}

/* GLOBAL */
h1 {
    font-family: var(--font-text-bold);
    font-size: var(--h1-size);
    padding: 0;
    margin: 0;
    color: var(--color-dark);
}

h2 {
    font-family: var(--font-text-bold);
    font-size: var(--h2-size);
    padding: 0;
    margin: 0;
    color: var(--color-dark);
}

h3 {
    font-family: var(--font-text-bold);
    font-size: var(--h3-size);
    padding: 0;
    margin: 0;
    color: var(--color-dark);
}

h4 {
    font-family: var(--font-text-regular);
    font-size: var(--h4-size);
    padding: 0;
    margin: 0;
    color: var(--color-dark);
}

h5 {
    font-family: var(--font-text-regular);
    font-size: var(--h5-size);
    padding: 0;
    margin: 0;
    color: var(--color-dark);
}

h6 {
    font-family: var(--font-text-regular);
    font-size: var(--h6-size);
    padding: 0;
    margin: 0;
    color: var(--color-dark);
}

p {
    font-family: var(--font-text-regular);
    font-size: var(--h4-size);
    padding: 0;
    margin: 0;
    color: var(--color-dark-hover);
}

a {
    font-family: var(--font-text-regular);
    font-size: var(--h4-size);
    padding: 0;
    margin: 0;
    color: var(--color-dark-hover);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: var(--color-dark-hover);
}

label {
    font-family: var(--font-text-regular);
    font-size: var(--h5-size);
    padding: 0;
    margin: 0;
    color: var(--color-dark-hover);
}

/* HEADER */
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--color-light);
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

header {
	width: 100%;
	height: var(--header-height);
	background-color: var(--color-dark);
	display: flex;
}

header .header-menu {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

header .header-menu .menu-link {
	height: 100%;
    font-family: var(--font-text-bold);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-light);
	margin-right: var(--menu-link-margin);
}

header .header-menu .menu-link:hover {
    color: var(--color-light-hover);
}

header .header-menu .menu-link:last-child {
	margin-right: 0;
}

/* MAIN */
main {
    width: var(--body-width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}