/* SIGN IN-UP */

.form-div {
	margin: 50px 0;
	padding: 0 40px;
	width: 30%;
	height: auto;
	background-color: var(--color-light-hover);
	border-radius: var(--border-radius);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.sign-form {
	width: 100%;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: flex-start;
	gap: var(--columns-gap);
}

.sign-form .sign-title {
	margin: 0;
	padding: 0;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.sign-form input {
	font-family: var(--font-text-bold);
	color: var(--color-dark-hover);
	padding: var(--input-padding);
	width: calc(100% - var(--input-padding) * 2 - 2px);
    border: 1px solid var(--color-dark);
	border-radius: var(--input-border-radius);
    color: var(--color-dark-hover);
    background: transparent;
}

.sign-form input[type="submit"] {
	margin: 20px 0;
	padding: calc(var(--input-padding) + 2px);
	border-style: none;
	width: 100%;
	background-color: var(--color-dark);
	color: var(--color-light);
    transition: background-color 0.3s ease;
}

.sign-form input[type="submit"]:hover {
    color: var(--color-dark);
	padding: calc(var(--input-padding) + 1px);
	background: transparent;
    border: 1px solid var(--color-dark);
}

.sign-form .error-alert {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sign-form .error-alert p {
	font-size: var(--h5-size);
}

.sign-form .error-alert a {
	font-size: 15px;
	margin-right: 10px;
}

.sign-42-button {
	width: 100%;
}

.sign-42-button input {
	margin-bottom: 20px;
	padding: calc(var(--input-padding) + 2px);
	border-style: none;
	border-radius: var(--input-border-radius);
	width: 100%;
	background-color: var(--color-dark);
	color: var(--color-light);
	font-family: var(--font-text-bold);
    transition: background-color 0.3s ease;
}

.sign-42-button input:hover {
    color: var(--color-dark);
	padding: calc(var(--input-padding) + 1px);
	background: transparent;
    border: 1px solid var(--color-dark);
}


/* NOTIFICATIONS */

.notification {
	width: 50vw;
	padding-left: 1vw;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	display: flex;
	align-items: left;
	justify-content: center;
	flex-direction: column;
	background-color: var(--color-light-hover);
	border-radius: var(--border-radius);
}

.notification-new {
	width: 5%;
	padding-left: 0.5vw;
	margin-bottom: 1vh;
	display: flex;
	align-items: left;
	justify-content: center;
	flex-direction: column;
	background-color: var(--color-light-hover);
	border-radius: var(--border-radius);
	border: 1px solid var(--color-dark);
}

.notification-date {
	font-family: var(--font-text-regular);
	font-size: var(--h5-size);
	color: var(--color-dark-hover);
	margin-bottom: 1vh;
}

.notification-message {
	font-family: var(--font-text-regular);
	font-size: var(--h4-size);
	color: var(--color-dark-hover);
	margin-bottom: 1vh;
}

.notification-delete {
	width: 10%;
	height: 2.3vh;
	line-height: 2.3vh;
	font-size: 1vw;
	font-family: var(--font-text-bold);
	color: white;
	border: 1px solid var(--color-dark);
	border-radius: var(--input-border-radius);
	background: var(--color-dark);
	text-align: center;
	vertical-align: middle;
}

.notification-delete-all {
	width: 8%;
	height: 2.5vh;
	line-height: 2.5vh;
	font-size: 1vw;
	font-family: var(--font-text-bold);
	color: white;
	border: 1px solid var(--color-dark);
	border-radius: var(--input-border-radius);
	background: var(--color-dark);
	text-align: center;
	vertical-align: middle;
	margin-bottom: 3vh;
}

.no-notification {
	width: 50vw;
	padding-left: 1vw;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	display: flex;
	align-items: left;
	justify-content: center;
	flex-direction: column;
	background-color: var(--color-light-hover);
	border-radius: var(--border-radius);
}