/* SIGN IN */
.form-div {
	margin: 50px 0;
	padding: 0 40px;
	width: 50%;
	height: 50vh;
	background-color: var(--color-light-hover);
	border-radius: var(--border-radius);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.sign-form {
	width: 100%;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: flex-start;
	gap: var(--columns-gap);
}

.sign-form .sign-title {
	margin: 0;
	padding: 0;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.sign-form input {
	font-family: var(--font-text-bold);
	color: var(--color-dark-hover);
	padding: var(--input-padding);
	width: calc(100% - var(--input-padding) * 2 - 2px);
    border: 1px solid var(--color-dark);
	border-radius: var(--input-border-radius);
    color: var(--color-dark-hover);
    background: transparent;
}

.sign-form input[type="submit"] {
	margin: 20px 0;
	padding: calc(var(--input-padding) + 2px);
	border-style: none;
	width: 100%;
	background-color: var(--color-dark);
	color: var(--color-light);
}

.sign-form input[type="submit"]:hover {
    color: var(--color-dark);
	padding: calc(var(--input-padding) + 1px);
	background: transparent;
    border: 1px solid var(--color-dark);
}

.sign-form .error-alert {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sign-form .error-alert p {
	font-size: var(--h5-size);
}

.sign-form .error-alert a {
	font-size: 15px;
	margin-right: 10px;
}

.sign-42-button {
	width: 100%;
}

.sign-42-button input {
	font-family: var(--font-text-bold);
	padding: var(--input-padding);
	width: 100%;
    border: 1px solid var(--color-dark);
	border-radius: var(--input-border-radius);
    color: var(--color-dark-hover);
    background: transparent;
}

.sign-42-button input:hover {
	background-color: var(--color-dark);
	color: var(--color-light);
	transition: 0.3s ease;
}
