version: '3'

networks:
  transcendence:
    name: transcendence

volumes:
  postgres_data:
    driver: local
  static_volume:
    driver: local
    name: static_volume
    driver_opts:
      type: none
      o: bind
      device: ./${DJANGO_FOLDER}/pong_app/static
  templates_volume:
    driver: local
    name: templates_volume
    driver_opts:
      type: none
      o: bind
      device: ./${DJANGO_FOLDER}/pong_app/templates
  ssl_certificates:
    driver: local
    name: ssl_certificates
    driver_opts:
      type: none
      o: bind
      device: ./ssl
  media_volume:
    driver: local
    name: media_volume

services:
  django:
    build:
      context: ./${DJANGO_FOLDER}/
      dockerfile: Dockerfile-django
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    networks:
      - transcendence
    restart: on-failure
    volumes:
      - static_volume:/usr/src/app/pong_app/static
      - templates_volume:/usr/src/app/pong_app/templates
      - media_volume:/usr/src/app/users_app/profile_pics

  daphne:
    build:
      context: ./${DJANGO_FOLDER}/
      dockerfile: Dockerfile-daphne
    env_file: .env
    ports:
      - "8001:8001"
    depends_on:
      - django
    networks:
      - transcendence
    restart: on-failure
    volumes:
      - static_volume:/usr/src/app/main/static 
      - templates_volume:/usr/src/app/main/templates
      - ssl_certificates:/etc/ssl
    # TODO remove this (enable it for logs directy in console) (for the print in python)
    tty: true

  nginx:
    build:
      context: ./${NGINX_FOLDER}/
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - daphne
    networks:
      - transcendence
    restart: on-failure
    volumes:
      - ssl_certificates:/etc/ssl

  postgres:
    image: postgres:latest
    env_file: .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    networks:
      - transcendence
    restart: on-failure

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    networks:
      - transcendence