.score_bar {
	width: 800px;
	height: 100px;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.score_bar .player_score {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: monospace;
	font-size: 50px;
}

canvas {
	border-radius: 10px;
	margin-bottom: 20px;
}


/* WAITING PAGE FOR THE GAME */

.waiting-game-infos {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.waiting-game-title {
	text-align: left;
}

.waiting-game-gif {
	width: 30em;
	height: 30em;
}