.score_bar {
	width: 800px;
	height: 100px;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.score_bar .player_score {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: monospace;
	font-size: 50px;
}

canvas {
	position: absolute;
	top: 400px;
	left: calc(50% - 400px);
	border-radius: 10px;
	margin-bottom: 20px;
}


/* WAITING PAGE FOR THE GAME */

.waiting-game-infos {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.waiting-game-title {
	text-align: left;
}

.waiting-game-gif {
	width: 30em;
	height: 30em;
}

.choose-buttons {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5em;
}

.choose-btn, .practice-btn, .ranked-btn {
	width: 30%;
	display: flex;
	justify-content: center;
	background-color: var(--color-light-hover);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5em;
	border-radius: var(--border-radius);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.choose-btn:hover {
	background-color: var(--color-light);
	opacity: 1;
}

.choose-img {
	width: 15vw;
	height: 15vw;
	border-radius: 0;
}

.choose-btn-title {
	font-size: 2em;
	font-family: var(--font-text-bold);
	color: var(--color-dark);
	margin-top: 1em;
}

.choose-btn-text {
	font-size: 1em;
	font-family: var(--font-text-regular);
	color: var(--color-dark-hover);
	margin-top: 1em;
}

.choose-back-btn {
	display: flex;
	justify-content: center;
	margin-top: 4em;
	margin-bottom: 3em;
	background-color: var(--color-dark);
	color: var(--color-light);
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	border-radius: var(--border-radius);
}

.fill_pong_space {
	height: 900px;
	width: 100%;
	display: block;
}