{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'chat_app/css/style.css' %}">
{% endblock %}

{% block title %}
All users
{% endblock %}

{% block content %}

<h1>All users</h1>
<div class="list">
{% for x in all_users %}
  <a href="/profile/{{ x.username }}">
    {% if x.username != user.username%}
        <div class="container">
          <img src={{ x.photo.url }} alt="profile picture" width="60" height="60">
          <h3>{{ x.username }}</h3>
        </div>
    {% endif %}
  </a>
{% endfor %}
</div>

{% endblock %}