{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'chat_app/css/style.css' %}">
{% endblock %}

{% block title %}
All users
{% endblock %}

{% block content %}

<h1>Friends</h1>
<div class="list">
	{% for x in friends %}
  		<a href="/profile/{{ x.username }}">
			<div class="container" data-user-id="{{ x.username }}">
			<img src={{ x.photo.url }} alt="profile picture" width="60" height="60">
			<h3>{{ x.username }}</h3>
			{% if x.status == 'online' %}
				<p class="status">🟢</p>
			{% else %}
				<p class="status">🔴</p>
			{% endif %}
			</div>
		</a>
{% endfor %}
</div>

<h1>All users</h1>
<div class="list">
	{% for x in all_users %}
	<a href="/profile/{{ x.username }}">
	  {% if x.username != user.username and not x in friends%}
		  <div class="container" data-user-id="{{ x.username }}">
			<img src={{ x.photo.url }} alt="profile picture" width="60" height="60">
			<h3>{{ x.username }}</h3>
			{% if x.status == 'online' %}
			  <p class="status">🟢</p>
			{% else %}
			  <p class="status">🔴</p>
			{% endif %}
		  </div>
	  {% endif %}
	</a>
  {% endfor %}
</div>

<script>
	let     websocketProtocol = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
	let     websocketPort = window.location.protocol === 'https:' ? ':8001' : '';
	const   socketUrl = websocketProtocol + '//' + window.location.host + websocketPort + '/ws/status/';
	const   socket = new WebSocket(socketUrl);

	socket.onopen = function(e) {
		console.log('Connection established');
	};

	// Écoutez les messages entrants
	// Écoutez les messages entrants
	document.addEventListener('DOMContentLoaded', (event) => {
		socket.addEventListener('message', function (event) {
			console.log('Message from server ', event.data);

			// Parsez le message en tant qu'objet JSON
			var message = JSON.parse(event.data);

			if (message.type === 'status_update') {
				console.log('status_update');
				// Trouvez l'élément DOM correspondant à l'utilisateur
				var userElement = document.querySelector('.container[data-user-id="' + message.username + '"]');
				console.log(userElement);

				// Mettez à jour le statut de l'utilisateur
				if (userElement) {
					var statusElement = userElement.querySelector('.status');
					if (statusElement) {
						statusElement.textContent = message.status === 'online' ? '🟢' : '🔴';
					}
				}
			}
		});
	});
</script>

{% endblock %}