{% block content%}

<title>{{ request.user.username }} profile</title>
<img src={{ request.user.photo.url }} alt="profile picture" width="100" height="100">
<p>{{ request.user.username }}</p>
<p>{{ request.user.email}}</p>
<form method="POST" enctype="multipart/form-data" novalidate>
	{% csrf_token %}

	<h2>Edit informations</h2>

  <h4>Change username</h4>
	{{form.username}}

  <h4>Change profile picture</h4>
  {{form.photo}}

  </br>
	
	{% for message in messages %}
	<div>
	
		<a data-dismiss="alert">⚠️</a>
		{{ message }}
	</div>
	{% endfor %}
	
	<input type="submit" value="Accept modifications"/>
</form>

<h1>All users</h1>
<ul>
  {% for x in all_users %}
    {% if x.username != request.user.username%}
      <li>
        <img src={{ x.photo.url }} alt="profile picture" width="25" height="25">
        {{ x.username }}
      </li>
    {% endif %}
  {% endfor %}
</ul>
<style>
    img {
        border-radius: 50%;
      }
</style>

{% endblock content%}