{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'pong_app/css/style.css' %}">
{% endblock %}

{% block title %}
Sign in
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}

<p>You are already connected, please log out before log in.</p>
<a href="/sign_out">
	<button>Log out</button>
</a>

{% else %}

<form method="POST" novalidate>
	{% csrf_token %}

	<h2>Sign in</h2>
	{{form.as_p}}
	
	{% for message in messages %}
	<div>
	
		<a data-dismiss="alert">⚠️</a>
		{{ message }}
	</div>
	{% endfor %}
	
	<input type="submit" value="Login"/>
</form>

<a href="/ft_api">
	<button>Sign in with 42</button>
</a>

<br><br>

{% endif %}

{% endblock %}
