{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'pong_app/css/style.css' %}">
{% endblock %}

{% block title %}
Chat Rooms
{% endblock %}

{% block content %}

<h1>Private chats</h1>
<br>

{% if chats %}
    {% for chat in chats %}
        <a href={{ chat.link }}>
            <div class="container">
                <img src={{ chat.user.photo.url }} alt="profile picture" width="60" height="60">
                <h3>{{ chat.user.username }}</h3>
            </div>
        </a>
    {% endfor %}
{% else %}
    <p>No channels available.</p>
{% endif %}

<style>
	img {
		border-radius: 50%;
	}
</style>

{% endblock %}