<h1>Chats</h1>

{% if chats %}
	<div class="chat-scrollable">
		{% for chat in chats %}
			<a class="chat-container" href="#" data-route="{% url 'room' chat.0.room_id %}" onclick="navigateTo(event, this.dataset.route)">
				<h3 class="chat-name">{{ chat.1 }}</h3>
				<p class="chat-last-message-sender">{{ chat.2.sender }}</p>
				<p class="chat-last-message-timestamp">{{ chat.2.timestamp }}</p>
				<p class="chat-last-message">{{ chat.2.message }}</p>
			</a>
		{% endfor %}
	</div>
{% else %}
	<p>No channels available.</p>
{% endif %}