<h2>{{ name_channel }}</h2>

<h2>Participants</h2>

{% for user in users %}
	{% if user.id != request.user.id %}
	<a href="#" data-route="{% url 'profile' user.username %}" onclick="navigateTo(event, this.dataset.route)">
		<div class="container">
			<img src={{ user.photo.url }} alt="profile picture" width="60" height="60">
			<h3>{{ user.username }}</h3>
		</div>
	</a>
	{% endif %}
{% endfor %}

<div id="chat-log" class="chat-log"></div>

<br>

<input id="chat-message-input" type="text" size="50" autocomplete="off">
<input id="chat-message-submit" type="button" value="Send">

{{ room_id|json_script:"room-id" }}
{{ blocked_users|json_script:"blocked-users" }}
{{ request.user.id|json_script:"id" }}
{{ request.user.username|json_script:"username" }}
{{ private|json_script:"is-private"}}