{% load poll_extras %}

<div class="chat-window">

	{% if private == False %}
		<div class="participants">
			<h2 class="chat-category">Participants</h2>

			{% for user in users %}
				<a href="#" data-route="{% url 'profile' user.username %}" onclick="navigateTo(event, this.dataset.route)">
					<div class="participants-container">
						<img class="participants-img" src={{ user.photo.url }} alt="profile picture">
						<h3 class="participants-username">
							{{ user.username }}
							{% if user.id == request.user.id %}
								<span> (You)</span>
							{% endif %}
						</h3>
					</div>
				</a>
			{% endfor %}
		</div>
	{% endif %}

	<div class="chat">
		{% if private %}
			<a class="chat-private-user" href="#" data-route="{% url 'profile' name_channel %}" onclick="navigateTo(event, this.dataset.route)">
				<img class="chat-private-img" src={{ photo_channel.url }} alt="profile picture">
				<h2 class="chat-category-pp">{{ name_channel }}</h2>
			</a>
		{% else %}
			<h2 class="chat-category">{{ name_channel }}</h2>
		{% endif %}
	
		{% if private%}
			<p class="chat-info-private">Private channel</p>
		{% else %}
			<p class="chat-info-private">Group channel</p>
		{% endif %}

		<div id="chat-log" class="chat-log">
			{% for message in messages %}

				{% if message.sender in blocked_users_str %}
					{% for user in users %}
						{% if user.id|stringformat:'s' == message.sender %}
							{% if user.id|stringformat:'s' != messages|previousMessageSenderID:message %}
								<p class="other-username">{{ user.username }}</p>
							{% endif %}
						{% endif %}
					{% endfor %}
					<p class="blocked-message">This user is blocked</p>

				{% else %}
					{% if private == False %}
						{% if message.sender != request.user.id|stringformat:'s' %}
							{% for user in users %}
								{% if user.id|stringformat:'s' == message.sender %}
									{% if user.id|stringformat:'s' != messages|previousMessageSenderID:message %}
										<p class="other-username">{{ user.username }}</p>
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endif %}

					{% if message.sender == request.user.id|stringformat:"s" %}
						<p class="my-message" data-sender="{{ message.sender }}">
					{% else %}
						<p class="other-message" data-sender="{{ message.sender }}">
					{% endif %}

					{{ message.message }}
					</p>

				{% endif %}
			{% endfor %}
		</div>

		<br>

		<input class="chat-message-input" id="chat-message-input" type="text" autocomplete="off">
		<input class="chat-message-submit" id="chat-message-submit" type="button" value="Send">
	</div>

</div>

{{ room_id|json_script:"room-id" }}
{{ blocked_users|json_script:"blocked-users" }}
{{ request.user.id|json_script:"id" }}
{{ request.user.username|json_script:"username" }}
{{ private|json_script:"is-private"}}