{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'chat_app/css/style.css' %}">
{% endblock %}

{% block title %}
Chat Room
{% endblock %}

{% block content %}

<h2>Participants</h2>

{% for user in users %}
	<div class="container">
		<img src={{ user.photo.url }} alt="profile picture" width="60" height="60">
		<h3>{{ user.username }}</h3>
	</div>
{% endfor %}

<div id="chat-log" class="chat-log"></div>
<br>

<input id="chat-message-input" type="text" size="50">
<input id="chat-message-submit" type="button" value="Send">

{{ room_name|json_script:"room-name" }}
{{ blocked_users|json_script:"blocked-users" }}
<script>
	const roomName = JSON.parse(document.getElementById('room-name').textContent);

	let		websocketProtocol = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
	let		websocketPort = window.location.protocol === 'https:' ? ':8001' : '';
	const	socketUrl = websocketProtocol + '//' + window.location.host + websocketPort + '/ws/chat/' + roomName + "/";
	const	chatSocket = new WebSocket(socketUrl);

	chatSocket.onmessage = function(e) {
		const data = JSON.parse(e.data);
    	const blockedUsers = JSON.parse(document.getElementById('blocked-users').textContent);

		if (!blockedUsers.includes(parseInt(data.sender, 10))) {
			const messageContainer = document.createElement('p');
			messageContainer.textContent = data.username + ': ' + data.message;
			messageContainer.className = data.sender === "{{ request.user.id }}" ? 'my-message' : 'other-message';
			document.querySelector('#chat-log').appendChild(messageContainer);
			var chatLog = document.querySelector('.chat-log');
			chatLog.scrollTop = chatLog.scrollHeight;
		}
	};

	chatSocket.onopen = function(e) {
		document.querySelector('#chat-log').innerHTML = '';
	};

	chatSocket.onclose = function(e) {
		console.error('Chat socket closed unexpectedly');
	};

	chatSocket.onerror = function(e) {
		console.error('WebSocket error: ', e);
	};

	document.querySelector('#chat-message-input').focus();
	document.querySelector('#chat-message-input').onkeyup = function(e) {
		if (e.key === 'Enter') {
			document.querySelector('#chat-message-submit').click();
		}
	};

	document.querySelector('#chat-message-submit').onclick = null;
	document.querySelector('#chat-message-submit').onclick = function(e) {
		const messageInputDom = document.querySelector('#chat-message-input');
		const message = messageInputDom.value.trim();
		if (!message)
		  return;
		const sender = "{{ request.user.id }}";
		const username = "{{ request.user.username }}";
		chatSocket.send(JSON.stringify({
		  'message': message,
		  'sender': sender,
		  'username': username,
		}));
		messageInputDom.value = '';
	};
</script>

{% endblock %}
