{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'pong_app/css/style.css' %}">
{% endblock %}

{% block title %}
Chat Rooms
{% endblock %}

{% block content %}

<h1>Private chats</h1>
<h3>What chat room would you like to enter?</h3>
<br>

{% if channels.items %}
	{% for key, value in channels.items %}
		<a href="{{ value }}">
			<li>
				{% for user in users %}
					{% if user.username == key %}
						<img src={{ user.photo.url }} alt="profile picture" width="25" height="25">
					{% endif %}
				{% endfor %}
				{{ key }}
			</li>
		</a>
	{% endfor %}
{% else %}
	<p>No channels available.</p>
{% endif %}

<style>
	img {
		border-radius: 50%;
	}
</style>

{% endblock %}