/* CHAT APP */


/* CHAT.HTML */
.chat-scrollable {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 3%;
}

.chat-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	background-color: var(--color-light-hover);
	border-radius: var(--border-radius);
	width: 40%;
	padding: 1%;
	margin-bottom: 1.5%;
}

.chat-last-message-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.chat-last-message-timestamp {
    font-size: 1em;
    font-family: var(--font-text-regular);
    margin-top: 0.5vh;
    width: 100%;
}

.chat-last-message-sender {
    font-size: 1em;
    font-family: var(--font-text-regular);
    margin-top: 0.5vh;
	margin-right: 0.25em;
}

.chat-last-message {
    font-size: 1em;
    font-family: var(--font-text-bold);
    margin-top: 0.5vh;
}

.chat-last-message-sender {
	font-size: 1em;
	font-family: var(--font-text-regular);
	margin-top: 0.5vh;
}

.chat-last-message-timestamp {
	font-size: 1em;
	font-family: var(--font-text-regular);
	margin-top: 0.5vh;
}

.chat-last-message {
	font-size: 1em;
	font-family: var(--font-text-bold);
	margin-top: 0.5vh;
}


/* ROOM.HTML */
.chat-window {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	justify-content: center;
}

.you-text {
	font-size: 0.5em;
	font-family: var(--font-text-bold);
	opacity: 0.6;
	margin-left: 0.5em;
}

.participants {
	width: 25%;
	height: 50em;
	padding-left: 1%;
	margin-left: 1%;
	margin-right: 5%;
	margin-top: 3%;
}

.chat {
	width: 65%;
	height: 50em;
	margin-right: 5%;
	margin-top: 3%;
}

.list-participants {
	height: 87%;
	overflow-y: auto;
	background-color: var(--color-light-hover);
	border-radius: var(--border-radius);
	margin-top: 2%;
	padding: 5%;
}

.list-participants::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.chat-category {
	font-size: 3em;
}

.chat-category-pp {
	font-size: 3em;
	margin-left: 1%;
}

.participants-container {
	display: flex;
	align-items: left;
	justify-content: left;
	margin-top: 5%;
}

.participants-username {
	font-size: 1.4em;
	padding-left: 0.5%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 2%;
	
}

.participants-img {
	border-radius: 50%;
	width: 3.5em;
	height: 3.5em;
}

.chat-private-user {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.chat-private-img {
	border-radius: 50%;
	width: 4.5em;
	height: 4.5em;
}

.chat-info-private {
	font-size: 1em;
	font-family: var(--font-text-regular);
	margin-top: 0.5vh;
}

.chat-log {
	height: 80%;
	overflow-y: auto;
	background-color: var(--color-light-hover);
	border-radius: var(--border-radius);
	margin-top: 2%;
	padding-top: 0.75%;
	padding-bottom: 0.5%;
}

.chat-log::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.chat-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.chat-message-input {
	flex-grow: 1;
	margin-left: 1%; 
	padding-left: 1%;
	padding-right: 1%;
	border-radius: var(--input-border-radius);
	border: 1px solid var(--color-light-hover);
	font-size: 1em;
	font-family: var(--font-text-regular);
	color: var(--color-dark-hover);
	outline: none;
	transition: border-color 0.3s ease-in-out;
}

.chat-message-input:focus {
	border-color: var(--color-dark-hover);
}

.chat-message-submit {
	width: 15%;
	font-size: 1em;
	font-family: var(--font-text-bold);
	color: white;
	border: 1px solid var(--color-dark);
	border-radius: var(--input-border-radius);
	background: var(--color-dark);
	margin-left: 1%;
	margin-right: 1%;
	transition: opacity 0.3s ease-in-out;
}

.chat-message-submit:hover {
	opacity: 0.5;
}

.my-message {
	float: right;
	color: white;
	background-color: #5BC0BE;
	border-radius: var(--border-radius-inner);
	text-align: left;
	font-family: var(--font-text-regular);
	font-size: 1.5em;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	margin-bottom: 0.5%;
	margin-right: 0.5%;
	max-width: 40%;
	clear: both;
	word-wrap: break-word;
}

.other-message {
	float: left;
	color: white;
	background-color: #3A506B;
	border-radius: var(--border-radius-inner);
	text-align: left;
	font-family: var(--font-text-regular);
	font-size: 1.5em;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	margin-bottom: 0.5%;
	margin-left: 1%;
	max-width: 40%;
	clear: both;
	word-wrap: break-word;
}

.blocked-message {
	float: left;
	color: white;
	background-color: grey;
	border-radius: var(--border-radius);
	text-align: left;
	font-family: var(--font-text-regular);
	font-size: 1.5em;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	margin-bottom: 0.5%;
	margin-left: 0.5%;
	max-width: 40%;
	clear: both;
}

.other-username {
	float: left;
	color: grey;
	text-align: left;
	font-family: var(--font-text-regular);
	font-size: 1em;
	max-width: 40%;
	padding-top: 1%;
	padding-bottom: 0.5%;
	padding-left: 1.5%;
	clear: both;
}
