/* FONTS */
@font-face {
	font-family: 'Identidad Bold';
	src: url('../fonts/identidad-extrabold.otf') format('opentype');
	font-weight: bold;
}
@font-face {
	font-family: 'Identidad Regular';
	src: url('../fonts/identidad-extralight.ttf') format('truetype');
	font-weight: normal;
}

/* VARIABLES */
:root {
	/* Fonts */
	--font-text-regular: 'Identidad Regular', serif;
	--font-text-bold: 'Identidad Bold', monospace;

	/* Colors */
	--color-light: #F3F2ED;
	--color-dark: #0B132B;
	--color-light-hover: #EBE8E0;
	--color-dark-hover: #474747;

	/* Text size */
	--h1-size: 5em;
	--h2-size: 3em;
	--h3-size: 2em;
	--h4-size: 1em;
	--h5-size: 0.8em;
	--h6-size: 0.6em;

	/* Sizes */
	--header-width: 100vw;
	--header-height: 6.5em;
	--footer-height: 7em;
	--border-radius: 24px;
	--border-radius-inner: 16px;
	--input-border-radius: 10px;
	--input-padding: 10px;
	--menu-link-margin: 20px;
	--columns-gap: 10px;
}

/* GLOBAL */
h1 {
	font-family: var(--font-text-bold);
	font-size: var(--h1-size);
	color: var(--color-dark);
	margin: 0;
	padding: 0;
}

h2 {
	font-family: var(--font-text-bold);
	font-size: var(--h2-size);
	color: var(--color-dark);
	margin: 0;
	padding: 0;
}

h3 {
	font-family: var(--font-text-bold);
	font-size: var(--h3-size);
	color: var(--color-dark);
	margin: 0;
	padding: 0;
}

h4 {
	font-family: var(--font-text-regular);
	font-size: var(--h4-size);
	color: var(--color-dark);
	margin: 0;
	padding: 0;
}

h5 {
	font-family: var(--font-text-regular);
	font-size: var(--h5-size);
	color: var(--color-dark);
	margin: 0;
	padding: 0;
}

h6 {
	font-family: var(--font-text-regular);
	font-size: var(--h6-size);
	color: var(--color-dark);
	margin: 0;
	padding: 0;
}

p {
	font-family: var(--font-text-regular);
	font-size: var(--h4-size);
	color: var(--color-dark-hover);
	margin: 0;
	padding: 0;
}

a {
	font-family: var(--font-text-regular);
	font-size: var(--h4-size);
	color: var(--color-dark);
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

a:hover {
	opacity: 0.6;
}

label {
	font-family: var(--font-text-regular);
	font-size: var(--h5-size);
	color: var(--color-dark-hover);
	margin: 0;
	padding: 0;
}


.all-screen {
	width: 100vw;
	height: calc(100vh - var(--header-height) - var(--footer-height));
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
	overflow-y: hidden;
	overflow: hidden;
}


/* BODY */
body {
	background-color: var(--color-light);
	font-family: "Lucida Console", Monaco, monospace;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}


/* PAGE CONTENT */
.page {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	min-height: calc(100vh - var(--header-height));
	width: 100%;
	height: 100%;
}

#app {
	display: flex;
	flex-grow: 1;
	overflow: auto;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
}


/* FOOTER */
footer {
	background-color: var(--color-dark);
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--footer-height);
	margin: 0;
	padding: 0;
	width: 100%;
}

.footer-category {
	color: var(--color-light);
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.footer-title {
	font-family: var(--font-text-bold);
	font-size: 1em;
	color: var(--color-light);
	margin-bottom: 0.5em;
	text-align: start;
}

.footer-logo {
	width: 1em;
	height: 1em;
	margin-right: 0.5em;
}

.footer-link {
	font-family: var(--font-text-regular);
	font-size: 1em;
	color: var(--color-light);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	opacity: 0.5;
	margin-bottom: 0.1em;
}


/* HEADER */
.menu-windows.auth, .menu-windows.guest {
	display: none;
}

.user-authenticated .menu-windows.auth {
	display: block;
}

.user-guest .menu-windows.guest {
	display: block;
}

.user-guest .menu-pictures {
	display: none;
}

header {
	width: var(--header-width);
	height: var(--header-height);
	background-color: var(--color-dark);
}

header .header-menu {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-link {
	font-family: var(--font-text-bold);
	color: var(--color-light);
	font-size: 1.5em;
}

.menu-windows {
	position: absolute;
	left: 0;
	text-align: left;
	justify-content: left;
	margin-left: 3%;
}

.menu-profile {
	font-family: var(--font-text-bold);
	color: var(--color-light);
	display: flex;
	align-items: center;
}

.menu-username {
	font-size: 1.2em;
	font-family: var(--font-text-bold);
	color: var(--color-light);
	text-align: right;
	margin-right: 0.5em;
	pointer-events: none;
}

button {
	font-size: 1em;
	font-family: var(--font-text-bold);
	background-color: transparent;
	border: none;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	margin-right: var(--menu-link-margin);
	padding: 0;
	pointer-events: all;
}

button:hover {
	opacity: 0.5;
}

.menu-pictures {
	position: absolute;
	right: 0;
	margin-right: 3%;
	display: flex;
	align-items: right;
	justify-content: right;
}

.notification-count {
	background-color: red;
	color: white;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(-70%, 0%);
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 0.3em;
	padding-right: 0.3em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	font-size: 1em;
	font-family: var(--font-text-bold);
}

.menu-img-user, .menu-img-notifs {
	width: 4em;
	height: 4em;
	border-radius: 50%;
	pointer-events: none;
}

.menu-img-user {
	margin-right: 2em;
}


/* container */

.container {
	margin-top: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

img {
	width: 4em;
	height: 4em;
	border-radius: 50%;
	pointer-events: none;
}


/* CUSTOM ERRORS */

.error-container {
	width: 100%;
	height: calc(100vh - var(--header-height) - var(--footer-height));
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-color: rgb(213, 131, 131);
	overflow-x: hidden;
}

.error-code {
	font-size: 10vw;
	font-family: var(--font-text-bold);
	color: white;
}

.error-title {
	font-size: 5vw;
	font-family: var(--font-text-bold);
	color: white;
	margin-bottom: 1vh;
}

.error-infos {
	font-size: 2vw;
	font-family: var(--font-text-bold);
	color: white;
	opacity: 0.5;
}

/* KEN PAGE */

.ken-img {
	width: 100%;
	height: 100%;
	border-radius: 0;
	padding: 0;
	margin: 0;
}

.ken-link {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 1%;
	margin: 0;
	transform: translate(-50%, -50%);
	font-size: 1em;
	font-family: var(--font-text-bold);
	color: white;
	border: 1px solid var(--color-dark);
	border-radius: var(--input-border-radius);
	background: var(--color-dark);
	text-align: center;
	vertical-align: middle;
}

.ken-link:hover {
	opacity: 0.3;
}