{% if request.user.is_authenticated %}

<p>You are already connected, please log out before log in.</p>
<a href="#" data-route="{% url 'sign_out' %}" onclick="navigateTo(event, this.dataset.route)">
    <button>Log out</button>
</a>

{% else %}

<div class="form-div">
    <form method="POST" class="sign-form">
        {% csrf_token %}

        <h3 class="sign-title">Sign in</h3>

        {% for field in form %}
			{{ field.label_tag }}
			{{ field }}
			<div class="error-alert" id="error-{{ field.name }}"></div>
		{% endfor %}
        
        <input type="submit" value="Login"/>
    </form>

	<a href="{% url 'ft_api' %}" class="sign-42-button">
		<input type="submit" value="Sign in with 42">
	</a>
</div>

{% endif %}
