<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- TODO change X-UA (se renseigner sur quoi mettre) -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Game</title>
</head>
<body>
    <h1>Pong Game</h1>
    <!-- <canvas id="pongCanvas" width="800" height="600"></canvas> -->
</body>
<foot>
    {% load static %}
    <script src="{% static 'pong_app/js/phaser.min.js' %}"></script>
    <script src="{% static 'pong_app/js/main.js' %}"></script>
</foot>
</html>