{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'pong_app/css/style.css' %}">
{% endblock %}

{% block title %}
Pong game
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
	<h1>Player: {{ request.user.username }}</h1>
{% endif %}

<div class="score_bar">
	<span class="player_score id0"></span>
	<span class="player_score id1"></span>
	<span class="player_score id2"></span>
	<span class="player_score id3"></span>
</div>

<!-- TODO dire a leon d'ajouter un bloc pour le js (en bas de page absolument) -->
<script src="{% static 'pong_app/js/phaser.min.js' %}"></script>
<script type="module" src="{% static 'pong_app/js/main.js' %}"></script>

{% endblock %}