{% extends 'base.html' %}

{% include 'interface.html' %}

{% block title %}Your Page Title{% endblock %}

{% block head_scripts %}
    <!-- Ajoutez des scripts spécifiques à ce modèle ici -->
    {% load static %}
    <script type="text/javascript" src="{% static 'pong_app/js/main.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- Le contenu spécifique à votre modèle va ici -->
    <h1>Bienvenue sur votre page</h1>
    <!-- Ajoutez d'autres éléments HTML et contenu si nécessaire -->
{% endblock %}
