<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<title>Transcendence</title>
		<link rel="icon" href="{% static 'main/img/favicon.ico' %}">

		<meta charset="UTF-8">
		<meta name="author" content="lpupier - tgiraudo - ezanotti">
		<meta name="description" content="Hello from 42 Lyon!">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="{% static 'main/main.css' %}">
		<link rel="stylesheet" href="{% static 'chat_app/css/style.css' %}">
		<link rel="stylesheet" href="{% static 'pong_app/css/style.css' %}">
		<link rel="stylesheet" href="{% static 'users_app/css/style.css' %}">
		
		<script src="{% static 'pong_app/js/phaser.min.js' %}"></script>
		<script src="{% static 'pong_app/js/utils.js' %}"></script>
		<script src="{% static 'pong_app/js/main.js' %}"></script>
		<script src="{% static 'chat_app/js/main.js' %}"></script>

		<script src="{% static 'main/main.js' %}"></script>
	</head>
	
	
	<body>
		<header id="header">
			{{ header|safe }}
		</header>

		<div id="page-content">
			{{ page_content|safe }}
		</div>
	</body>
</html>