{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'main/main.css' %}">
		{% block css %}{% endblock %}
	</head>
	<body>
		<main>
			{% block content %}{% endblock %}
		</main>
		
		<footer>
			{% block footer %}{% endblock %}
		</footer>
	</body>

	<script>
		let     WSProtocol = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
		let     WSPort = window.location.protocol === 'https:' ? ':8001' : ':8000';
		const   WsocketUrl = WSProtocol + '//' + window.location.hostname + WSPort + '/ws/notifications/';
		const   Wsocket = new WebSocket(WsocketUrl);
		
		Wsocket.onmessage = function(e) {
			var data = JSON.parse(e.data);
			var message = data['message'];
		
			// Update the notification count
			document.getElementById('notification-count').textContent = parseInt(document.getElementById('notification-count').textContent) + 1;
		};
	</script>
</html>

