<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Application SPA</title>
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
</head>

<body>
    <header>
        <nav class="header-menu">
            <a href="" class="menu-link" data-route="{% url 'home' %}" onclick="navigateTo(event, this.dataset.route)">Home</a>
            {% if request.user.is_authenticated %}
                <a href="#" class="menu-link" data-route="{% url 'pong' %}" onclick="navigateTo(event, this.dataset.route)">Pong</a>
                <a href="#" class="menu-link" data-route="{% url 'chat' %}" onclick="navigateTo(event, this.dataset.route)">Chat</a>
                <a href="#" class="menu-link" data-route="{% url 'users' %}" onclick="navigateTo(event, this.dataset.route)">Users</a>
            {% endif %}
            <p class="menu-link">|</p>
            {% if request.user.is_authenticated %}
                <a href="#" class="menu-link" data-route="{% url 'sign_out' %}" onclick="navigateTo(event, this.dataset.route)">Sign out</a>
                <a href="#" class="menu-link-right" data-route="{% url 'profile_me' %}" onclick="navigateTo(event, this.dataset.route)">
                    {{ request.user.username }}
                    <img src={{ request.user.photo.url }} alt="profile picture" width="60" height="60">
                </a>
                <a href="#" class="menu-link-right" data-route="{% url 'notifications' %}" onclick="navigateTo(event, this.dataset.route)">
                    <img src="{% static 'main/img/notifications.png' %}" alt="notifications" width="50" height="50">
                    <span class="notification-count" id="notification-count">{{ request.user.nbNewNotifications }}</span>
                </a>
            {% else %}
                <a href="#" class="menu-link" data-route="{% url 'sign_in' %}" onclick="navigateTo(event, this.dataset.route)">Sign in</a>
                <a href="#" class="menu-link" data-route="{% url 'sign_up' %}" onclick="navigateTo(event, this.dataset.route)">Sign up</a>
            {% endif %}
        </nav>
	</header>

    <!-- <div id="app"></div> -->
    <div id="app">
        {% block content %}{% endblock %}
    </div>
</body>

<foot>
    <script src="{% static 'main/main.js' %}"></script>
</foot>
</html>