{% load static %}
<nav class="header-menu">
    {% if request.user.is_authenticated %}
        <div class="menu-windows">
            <a href="#" class="menu-link" data-route="{% url 'pong' %}" onclick="navigateTo(event, this.dataset.route)">Pong</a>
            <a href="#" class="menu-link" data-route="{% url 'chat' %}" onclick="navigateTo(event, this.dataset.route)">Chat</a>
            <a href="#" class="menu-link" data-route="{% url 'users' %}" onclick="navigateTo(event, this.dataset.route)">Users</a>
        </div>
        <div class="menu-pictures">
            <a href="#" class="menu-profile" data-route="{% url 'profile_me' %}" onclick="navigateTo(event, this.dataset.route)">
                <p class="menu-username">{{ request.user.username }}</p>
                <img class="menu-img-user" src={{ request.user.photo.url }} alt="profile picture" width="60" height="60">
            </a>
            <a href="#" class="menu-notifs" data-route="{% url 'notifications' %}" onclick="navigateTo(event, this.dataset.route)">
                <img class="menu-img-notifs" src="{% static 'main/img/notifications.png' %}" alt="notifications" width="50" height="50">
                <span class="notification-count" id="notification-count">{{ request.user.nbNewNotifications }}</span>
            </a>
        </div>
    {% else %}
        <div class="menu-windows">
            <a href="#" class="menu-link" data-route="{% url 'sign_in' %}" onclick="navigateTo(event, this.dataset.route)">Sign in</a>
            <a href="#" class="menu-link" data-route="{% url 'sign_up' %}" onclick="navigateTo(event, this.dataset.route)">Sign up</a>
        </div>
    {% endif %}
</nav>