<h1>Notifications</h1>

<a href="#" data-route="{% url 'delete_all_notifications' %}" onclick="navigateTo(event, this.dataset.route)">
	Delete All
</a>

{% for notification in notifs %}
	<div class="notification">
	
		<span>
			{% if not notification.read %}
			[NEW] 
			{% endif %}
			{{ notification.date }}: {{ notification.message }}
		</span>

		<a href="#" data-route="{% url 'delete_notification'  notification.id %}" onclick="navigateTo(event, this.dataset.route)">
			Delete
		</a>
	
	</div>
	<br>

{% empty %}
	<p>No notifications.</p>

{% endfor %}