<h1>Notifications</h1>

<a class="notification-delete-all" href="#" data-route="{% url 'delete_all_notifications' %}" onclick="navigateTo(event, this.dataset.route)">
	Delete All
</a>

{% for notification in notifs %}	
	<div class="notification">

		{% if not notification.read %}
			<span class="notification-new">New</span>
		{% endif %}
		<span class="notification-date">{{ notification.date }}:</span>
		<span class="notification-message">{{ notification.message }}</span>
	
		<a class="notification-delete" href="#" data-route="{% url 'delete_notification'  notification.id %}" onclick="navigateTo(event, this.dataset.route)">
			Delete
		</a>

	</div>
	<br>

{% empty %}
	<p class="no-notification">No notifications.</p>

{% endfor %}