<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %}</title>
		{% block css %}{% endblock %}
	</head>
	<body>
		<!-- Header -->
		<header>
			{% block header %}{% endblock %}
		</header>
		
		<!-- Navigation bar -->
		<nav>
			<a href="{% url 'home' %}" class="navbar-button">Home</a>
			{% if user.is_authenticated %}
				<a href="{% url 'pong' %}" class="navbar-button">Pong</a>
				<a href="{% url 'chat' %}" class="navbar-button">Chat</a>
				<a href="{% url 'users' %}" class="navbar-button">Users</a>
			{% endif %}
			|
			{% if user.is_authenticated %}
				<a href="{% url 'profile_me' %}" class="navbar-button">Profile</a>
				<a href="{% url 'sign_out' %}" class="navbar-button">Sign out</a>
			{% else %}
				<a href="{% url 'sign_in' %}" class="navbar-button">Sign in</a>
				<a href="{% url 'sign_up' %}" class="navbar-button">Sign up</a>
			{% endif %}
		</nav>
		</br>
		
		<!-- Content -->
		<main>
			{% block content %}{% endblock %}
		</main>
		
		<!-- Footer -->
		<footer>
			{% block footer %}{% endblock %}
		</footer>
	</body>
</html>
